data/
qgis_tiles/**
ihp/static_root/**
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite database
*.db
*.sqlite

# Vim
*.swp
*.swo

# Default cache location
cache

# ToDo files
.todo
TODO

# Fuse files
.fuse*

uploaded
static_root

local_settings.py
