{% extends "base.html" %}
{% load i18n %}

{% block footer %}
    <footer class="footer"  style="font-size:11px;">
      <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <div class="row">
                    <!-- div1 -->
                    <div class="col-sm-12 col-md-6" >
                        <a href="http://en.unesco.org/ihp-wins">
                            <img src="{{ STATIC_URL }}img/sector_sc_ihp_en_color_white_text.svg" style="margin-left:10px;width:auto;height:38px" alt="UNESCO-International Hydrological Programme"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="row">
                    <!-- div2 -->
                    <div class="col-sm-12 col-md-12" style="margin-top:5px;font-size:12px;color: #ffffff; font-family:Monda,Andale Mono, monospace;font-size: medium;font-weight: bold;">
                        <a href="{% url 'about-us' %}">{% trans "About Us" %}</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'terms-of-use' %}">{% trans "Terms of use" %}</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'get-started' 1 %}">{% trans "Get Started" %}</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="row">
                    <!-- div3 -->
                    <div class="col-sm-12 col-md-6" >
                        <label class="hidden">{% trans "Language" %}</label>
                        {% if csrf_token != "NOTPROVIDED" %}
                        {% get_current_language as LANGUAGE %}
                        <form class="form-inline" action="/i18n/setlang/" method="post">
                        {% csrf_token %}
                          <select class="col-sm-12 pull-right" name="language" onchange="javascript:form.submit()">
                            {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                              {{ lang.1 }}
                            </option>
                            {% endfor %}
                          </select>
                        </form>
                        {% endif %}
                    </div>

                    <!-- div4 -->
                    <div class="col-sm-12 col-md-6" style="margin-top:5px;font-size:12px;color: #ffffff; font-family:Monda,Andale Mono, monospace;">
                        {% trans "Powered by" %} <a href="http://www.geonode.org"><img src="{{ STATIC_URL }}img/geonode_logo.png" style="margin-left:10px;width:80px" alt="GeoNode"/></a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </footer>
{% endblock footer %}
