{% extends "geonode_base.html" %}

{% load i18n %}
{% load base_tags %}

{% block title %} {% trans "New Map" %} - {{ block.super }} {% endblock %}
{% block head %}

<style>
    #paneltbar {
        margin-top: 78px !important;
    }

    #watermark{
        display: block;
        background: url(../../static/img/unesco_ihp_en_transparent.png) center center no-repeat;
        background-size: 182px;
        width: 182px;
        height: 110px;
        position: absolute;
        top: 180px;
        right: 20px;
        bottom: 0;
        z-index: 1000;
    }
    .watermark-link {
        bottom: 0px;
        position: absolute;
    }
</style>

<div id="watermark"><!-- a href="http://en.unesco.org/themes/water-security/hydrology", class="watermark-link">UNESCO-IHP-Wins</a --></div>

	{% if preview == 'geoext' %}
		{% include 'maps/map_geoexplorer.js' %}
	{% elif preview == 'react' %}
		{% include 'geonode-client/map_new.html' %}
	{% else %}
		{% include 'maps/map_geoexplorer.js' %}
	{% endif %}

	{{ block.super }}
{% endblock %}

{% block footer %}{% endblock %}
